html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background:royalblue;
    
    
}


.container{
        
       display: grid;
       grid-template-columns: 180px 180px 180px 180px;
       grid-template-rows: 180px 180px 180px 180px;
       grid-gap: 20px;
       margin-left: 400px;
       
       
            

}

img{
    
    border: 5px solid rgba(0, 0, 0, 0.8);
    background-color:rgba(21, 139, 194, 0.8);
    
}

    
